<div>{{>header}}</div>

<div class = "container">
    <h1>Hello {{firstname}}, </h1>
    <h2>Here are your transactions:</h2>
    <form>
        <table>
            <tr>
            <th>Transaction Number</th>
            <th>Spending Category</th>
            <th>Amount</th>
            <th>Date</th>
            </tr>
            {{#each transactions}}
            <tr>
                <td>{{@index}}</td>
                <td>{{type}}</td>
                <td>{{amount}}</td>
                <td>{{date}}</td>
            </tr>
            {{/each}}
        </table>
    </form>

    <div class ="row">
        <div class = "col">
            <h1>Add Expenses</h1>
            <form action="/addtransaction" method="post">
                <p>
                    <label>Select Spending Category:</label>
                    <select name="SpendingCategory">    
                        <option value="Travel">Travel</option>
                        <option value="Utilities">Utilities</option>
                        <option value="Groceries" selected="selected">Groceries</option> 
                        <option value="Shopping" selected="selected">Shopping</option>
                        <option value="Entertainment" selected="selected">Entertainment</option>
                        <option value="Other" selected="selected">Other</option>        
                    </select>
                </p>
                <input  type ="float" name="amount" placeholder="Amount Spent">
                <input type ="date" name="date" placeholder="Transaction Date"><br>
                <input name="addtransaction" value="Add" type="submit">
            </form>
        </div>
        <br>
        <div class = "col">
            <h1>Add Income</h1>
            <form action="/addincome" method="post">
                <p>
                    <label>Select Income Category:</label>
                    <select name="IncomeCategory">    
                        <option value="Salary">Salary</option>
                        <option value="Part-time Income">Part-time Income</option>
                        <option value="Other" selected="selected">Other</option>        
                    </select>
                </p>
                <input  type ="float" name="income" placeholder="Amount Spent"><br>
                <input type ="date" name="date" placeholder="Transaction Date"><br>
                <input name="addIncome" value="Add" type="submit">
            </form>
        </div>
    </div>
</div>
<br>
<div class ="container">
    <h1>Add CSV File</h1>
    <form action="/import" method="post" enctype="multipart/form-data">
        <label for="myFile">Choose a file (.csv):</label>
        <input type="file" accept=".xls,.xlsx,.csv" id="myFile" name="myFile"><br>
        <input type="submit">
    </form>
</div>
<br>
<div class ="container">
    <h1>Modify Transactions</h1>
    <p>
    <label>Select Transaction:</label>
    <div class="custom-select" style="width:200px;">
    <select name="Select Transaction">
        {{#each transactions}}    
        <option value="option1">Transaction Number: {{@index}}</option>
        {{/each}}    
    </select>
    </div>
    </p>

    <form action="/modify" method="post">
        <p>
            <label>Change Spending Category:</label>
            <div>
                <select name="ChangedSpendingCategory">    
                    <option value="Travel">Travel</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Groceries" selected="selected">Groceries</option> 
                    <option value="Shopping" selected="selected">Shopping</option>
                    <option value="Entertainment" selected="selected">Entertainment</option>
                    <option value="Other" selected="selected">Other</option>        
                </select>
            </div>
        </p>
        <input name="changeAmount" type ="float" placeholder="Amount Spent"><br>
        <input name="changeDate" type ="date" placeholder="Date"><br>
        <input name="modifytransaction" value="Modify" type="submit">
    </form>
</div>